.loader-container {
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 9999;
  .loader-message {
    font-size: 14px;
    font-weight: bold;
    font-weight: 500;
    animation: blinker 2s linear infinite;
    margin-top: 10px !important;
  }

  @keyframes blinker {
    50% {
      opacity: 0.2;
    }
  }
}
